<% layout("/layouts/boilerplate") %>
<body>
    <h3>New Listing</h3>
    <form method ="POST" action = "/listings">
        <input name="title" type="text" placeholder="Title" /><br><br>
        <textarea name="description" type="text" placeholder="Description"></textarea><br><br>
        <input name="price" type="number" placeholder="Price" /><br><br>
        <input name="image" type="text" placeholder="Image URL" /><br><br>
        <input name="location" type="text" placeholder="Location" /><br><br>
        <input name="country" type="text" placeholder="country" /><br><br>
        <button>Create Listing</button>
    </form>
</body>
