<% layout("layouts/boilerplate.ejs") %>
<h3 class="mb-3">Create a New Listing</h3>
<form method="POST" action="/listings" class="row g-3 needs-validation" novalidate>
  <div class="col-12">
    <label class="form-label">Title</label>
    <input name="listing[title]" type="text" class="form-control" placeholder="Enter title" />
  </div>
  <div class="col-12">
    <label class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" rows="3" placeholder="Enter description"></textarea>
  </div>
  <div class="col-12 col-md-6">
    <label class="form-label">Image URL</label>
    <input name="listing[image]" type="text" class="form-control" placeholder="https://..." />
  </div>
  <div class="col-6 col-md-3">
    <label class="form-label">Price (₹)</label>
    <input name="listing[price]" type="number" class="form-control" placeholder="0" min="0" required />
  </div>
  <div class="col-6 col-md-3">
    <label class="form-label">Country</label>
    <input name="listing[country]" type="text" class="form-control" placeholder="Country" required />
  </div>
  <div class="col-12">
    <label class="form-label">Location</label>
    <input name="listing[location]" type="text" class="form-control" placeholder="City, State" required />
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
  
</form>