<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>New Listing</h3>
    <form method ="POST" action = "/listings" novalidate class="needs-validation">
        <div class="mb-3">
             <label for="title" class="form-label">Title</label>
             <input name="listing[title]" type="text" placeholder="Title" class="form-control" required /><br><br>
             <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
              <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" required></textarea><br><br>
        </div>

            <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[iamge]" type="text" placeholder="Image URL" class="form-control"/><br><br>
        </div>

        <div class="row">
               <div class="mb-3 col-md-4">
                 <label for="price" class="form-label">Price</label>
                 <input name="listing[price]" type="number" placeholder="Price" class="form-control"required/>
                 <div class="invalid-feedback">Price should be valid</div>
               </div>
               <div class="mb-3 col-md-8">
                 <label for="country" class="form-label">Country</label>
                 <input name="listing[country]" type="text" placeholder="country" class="form-control" required/>
                 <div class="invalid-feedback">Country should be valid</div>
                </div>
        </div>
     
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
             <input name="listing[location]" type="text" placeholder="Location" class="form-control" required/>
             <div class="invalid-feedback">location should be valid</div>
        </div>        
    
        <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
</body>
</div>
</div>
 